<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <connectionStrings>
    <add name="ROFSystemConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=E:\j@zz\Dropbox\Capstone\System\Jas\RepublicOfFitnessCode(version 1.0)\RepublicOfFitnessCode\App_Data\aspnet-RepublicOfFitnessCode-20130624154022.mdf;Initial Catalog=aspnet-RepublicOfFitnessCode-20130624154022;Integrated Security=True" />
  </connectionStrings>  
  
</configuration>